<footer class="nk-footer bg-theme-alt section-connect">
    <div class="section section-m pb-0 tc-light ov-h">
        <div class="container py-4">
            <!-- Block @s -->
            <div class="nk-block pb-lg-5">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-6 col-md-9">
                        <div class="wide-auto-sm section-head section-head-sm pdb-r">
                            <h4 class="title title-md animated" data-animate="fadeInUp" data-delay=".1">Don't miss out, Stay updated</h4>
                        </div>
                        <form action="form/subscribe.php" class="nk-form-submit" method="post">
                            <div class="field-inline field-inline-round field-inline-s2-sm bg-theme-dark-alt shadow-soft animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="field-wrap">
                                    <input class="input-solid input-solid-md required email" type="text" name="contact-email" placeholder="Enter your email">
                                    <input type="text" class="d-none" name="form-anti-honeypot" value="">
                                </div>
                                <div class="submit-wrap">
                                    <button class="btn btn-md btn-round btn-grad h-100">Subscribe</button>
                                </div>
                            </div>
                            <div class="form-results"></div>
                        </form>
                    </div>
                </div>
            </div><!-- .block @e -->
        </div>
        <div class="nk-ovm shape-contain shape-center-top shape-p"></div>
    </div>
    <div class="section section-footer section-s tc-light bg-transparent">
        <div class="container">
            <!-- Block @s -->
            <div class="nk-block block-footer">
                <div class="row">
                    <div class="col">
                        <div class="wgs wgs-text text-center mb-3">
                            <!--<ul class="social pdb-m justify-content-center">
                                <li><a href="#"><em class="social-icon fab fa-facebook-f"></em></a></li>
                                <li><a href="#"><em class="social-icon fab fa-twitter"></em></a></li>
                                <li><a href="#"><em class="social-icon fab fa-youtube"></em></a></li>
                                <li><a href="#"><em class="social-icon fab fa-github"></em></a></li>
                                <li><a href="#"><em class="social-icon fab fa-bitcoin"></em></a></li>
                                <li><a href="#"><em class="social-icon fab fa-medium-m"></em></a></li>
                            </ul>-->
                            <div class="copyright-text copyright-text-s3 pdt-m">
                                <p><span class="d-sm-block">Copyright &copy; 2022, Covenant Srls. Tutti i diritti riservati.</span>P.IVA 14635081004. Via Flavia, 47 - 00187 Roma. <a href="/privacy">Privacy Policy</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .block @e -->
        </div>
    </div>
</footer>