<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{{with .Site.LanguageCode}} xml:lang="{{.}}" lang="{{.}}"{{end}}>
<head>
      <meta charset="utf-8">
      <meta name="author" content="Covenant">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
    
    {{ if .IsHome -}}
  <title>{{ .Site.Title }}</title>
  {{- else -}}
  <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
  {{- end }}

  <!-- Fav Icon  -->
  <link rel="shortcut icon" href="/images/favicon.png">
  <!-- Site Title  -->
  <title>{{$.Title}}</title>
  <!-- Bundle and Base CSS -->
  <link rel="stylesheet" href="/css/vendor.bundle.css?ver=200">
  <link rel="stylesheet" href="/css/style.css?ver=200">

  <!-- Extra CSS -->
  <link rel="stylesheet" href="/css/theme.css?ver=200">

