{{ partial "head.html" . }}
</head>


<body class="nk-body body-wider mode-onepage">
    <div class="nk-wrap">
        <header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
            <!-- Header @s -->
            <div class="header-main">
                <div class="header-container container">
                    <div class="header-wrap">
                        <!-- Logo @s -->
                        <div class="header-logo logo animated" data-animate="fadeInDown" data-delay=".6">
                            <a href="./" class="logo-link">
                                <img class="logo-dark" src="{{ .Site.BaseURL }}images/logo.png" srcset="{{ .Site.BaseURL }}images/logo2x.png 2x" alt="logo">
                                <img class="logo-light" src="{{ .Site.BaseURL }}images/logo-full-white.png" srcset="{{ .Site.BaseURL }}images/logo-full-white2x.png 2x" alt="logo">
                            </a>
                        </div>
                        <!-- Menu Toogle @s -->
                        <div class="header-nav-toggle">
                            <a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
                                <div class="toggle-line">
                                    <span></span>
                                </div>
                            </a>
                        </div>
                        <!-- Menu @s -->
                        <div class="header-navbar animated" data-animate="fadeInDown" data-delay=".75">
                            <nav class="header-menu" id="header-menu">
                                <ul class="menu">
                                    <li class="menu-item has-sub">
                                        <a class="menu-link nav-link menu-toggle" href="#">Home</a>
                                        <div class="menu-sub menu-drop menu-mega menu-mega-3clmn">
                                            <div class="menu-mega-innr">
                                                <ul class="menu-mega-list">
                                                    <li class="menu-item"><a href="index-azalea.html">Azalea Dark<span class="badge badge-xs badge-light">v1.6</span></a></li>
                                                    <li class="menu-item"><a href="index-azalea-multi.html">Azalea Multi<span class="badge badge-xs badge-light">v1.6</span></a></li>
                                                    <li class="menu-item"><a href="index-gentian.html">Gentian Dark<span class="badge badge-xs badge-light">v1.5</span></a></li>
                                                    <li class="menu-item"><a href="index-gentian-pro.html">Gentian Pro<span class="badge badge-xs badge-light">v1.5</span></a></li>
                                                    <li class="menu-item"><a href="index-gentian-multi.html">Gentian Multi<span class="badge badge-xs badge-light">v1.5</span></a></li>
                                                    <li class="menu-item"><a href="index-zinnia.html">Zinnia Pro</a></li>
                                                    <li class="menu-item"><a href="index-salvia.html">Salvia Pro</a></li>
                                                </ul>
                                                <ul class="menu-mega-list">
                                                    <li class="menu-item"><a href="index-lungwort.html">Lungwort Dark</a></li>
                                                    <li class="menu-item"><a href="index-jasmine.html">Jasmine Light</a></li>
                                                    <li class="menu-item"><a href="index-lobelia.html">Lobalia Dark</a></li>
                                                    <li class="menu-item"><a href="index-muscari.html">Miscari Pro</a></li>
                                                    <li class="menu-item"><a href="index-lavender.html">Lavender Pro</a></li>
                                                    <li class="menu-item"><a href="index-azure-pro.html">Azure Pro</a></li>
                                                    <li class="menu-item"><a href="index-azure.html">Azure Dark</a></li>
                                                </ul>
                                                <ul class="menu-mega-list">
                                                    <li class="menu-item"><a href="index-dark-pro.html">Default Dark Pro</a></li>
                                                    <li class="menu-item"><a href="index-light.html">Default Light</a></li>
                                                    <li class="menu-item"><a href="index-dark.html">Default Dark</a></li>
                                                    <li class="menu-item"><a href="index-linum-wallet.html">Linum Wallet<span class="badge badge-xs badge-light">v1.8</span></a></li>
                                                    <li class="menu-item"><a href="index-flax-wallet.html">Flax Wallet<span class="badge badge-xs badge-light">v1.8</span></a></li>
                                                    <li class="menu-item"><a href="index-crocus-multi.html">Crocus Multi<span class="badge badge-xs badge-light">v1.9</span></a></li>
                                                    <li class="menu-item"><a href="index-cyanus-multi.html">Cyanus Multi<span class="badge badge-xs badge-info">NEW</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="page-about-v2.html">About</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="page-wallets-v2.html">Feature</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="page-download.html">Download</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="blog-3clmn.html">Announcement</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="page-faq.html">FAQ</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="#">Get Started</a></li>
                                </ul>
                                <ul class="menu-btns">
                                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#" class="btn btn-md btn-auto btn-grad no-change"><span>Login</span></a></li>
                                </ul>
                            </nav>
                        </div><!-- .header-navbar @e -->
                    </div>
                </div>
            </div><!-- .header-main @e -->
            <!-- Banner @s -->
            <div class="header-banner bg-theme-grad">
                <div class="nk-banner">
                    <div class="banner banner-fs">
                        <div class="banner-wrap">
                            <div class="container">
                                <div class="row gutter-vr-30px align-items-center justify-content-lg-between justify-content-center">
                                    <div class="col-lg-5 col-sm-6 col-md-6 col-mb-6 order-lg-last">
                                        <div class="banner-gfx text-center animated" data-animate="fadeInUp" data-delay="1.4">
                                            <img src="{{ .Site.BaseURL }}images/header/gfx-h.png" alt="header">
                                        </div>
                                    </div><!-- .col -->
                                    <div class="col-lg-7 col-xl-6 col-sm-10 text-center text-lg-start">
                                        <div class="banner-caption cpn tc-light">
                                            <div class="cpn-head">
                                                <h1 class="title title-lg animated" data-animate="fadeInUp" data-delay="1.2">Your Trusted <br class="d-none d-md-block">Blockchain Wallet</h1>
                                            </div>
                                            <div class="cpn-text cpn-text-s3">
                                                <p class="lead lead-s3 animated" data-animate="fadeInUp" data-delay="1.3">The safest and most popular wallet for investing and storing cryptocurrencies.</p>
                                            </div>
                                            <div class="cpn-action">
                                                <div class="cpn-btns animated" data-animate="fadeInUp" data-delay="1.4">
                                                    <ul class="btn-grp">
                                                        <li><a href="#" class="btn btn-grad btn-md">Download Now</a></li>
                                                        <li>
                                                            <ul class="btn-grp btn-grp-after gutter-30px">
                                                                <li><a href="#"><em class="fab fa-apple"></em></a></li>
                                                                <li><a href="#"><em class="fab fa-windows"></em></a></li>
                                                                <li><a href="#"><em class="fab fa-android"></em></a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                </div><!-- .row -->
                            </div>
                        </div>
                    </div>
                </div><!-- .nk-banner -->
                <div class="nk-ovm mask-e mask-contain-bottom shape-z"></div>
                <!-- Place Particle Js -->
                <!-- <div id="particles-bg" class="particles-container particles-bg"></div> -->
            </div>
            <!-- .header-banner @e -->
        </header>
        <main class="nk-pages">
            <section class="section bg-light section-t-m">
                <div class="container">
                    <div class="section-head text-center wide-sm animated" data-animate="fadeInUp" data-delay=".1">
                        <h3 class="title title-lg text-primary-alt">Buy and spend crypto and fiat in-app.</h3>
                        <p class="lead lead-regular lead-s2">As an ICOCrypto user, you can choose our crypto wallets. Manage your all cryptocurrency in wallets in-app and instantly convert – no hidden fees, no commissions. </p>
                    </div>
                    <!-- Block @s -->
                    <div class="nk-block nk-block-features">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-4">
                                <div class="feature feature-s8 feature-center card card-full card-md animated" data-animate="fadeInUp" data-delay=".2">
                                    <div class="feature-icon feature-icon-xl">
                                        <img src="{{ .Site.BaseURL }}images/icons/icon-h-nobg.png" alt="feature">
                                    </div>
                                    <div class="feature-text feature-text-s8">
                                        <h4 class="title title-md mb-1 title-thin title-s7">Ultra Fast &amp; Secure</h4>
                                        <p class=" mgb-s">Instant Private Transaction</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-4 col-md-4">
                                <div class="feature feature-s8 feature-center card card-full card-md animated" data-animate="fadeInUp" data-delay=".3">
                                    <div class="feature-icon feature-icon-xl">
                                        <img src="{{ .Site.BaseURL }}images/icons/icon-i-nobg.png" alt="feature">
                                    </div>
                                    <div class="feature-text feature-text-s8">
                                        <h4 class="title title-md mb-1 title-thin title-s7">Highly Scalable</h4>
                                        <p class=" mgb-s">Limitless Applications</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-4 col-md-4">
                                <div class="feature feature-s8 feature-center card card-full card-md animated" data-animate="fadeInUp" data-delay=".4">
                                    <div class="feature-icon feature-icon-xl">
                                        <img src="{{ .Site.BaseURL }}images/icons/icon-j-nobg.png" alt="feature">
                                    </div>
                                    <div class="feature-text feature-text-s8">
                                        <h4 class="title title-md mb-1 title-thin title-s7">Reliable &amp; Low Cost</h4>
                                        <p class=" mgb-s">Instant Private Transaction</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                    <div class="text-center pdt-l animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="btn btn-grad btn-auto">Get a Wallet</div>
                    </div>
                </div>
            </section>
            <!-- // -->
            <section class="bg-theme-alt">
                <section class="section bg-transparent no-pdy">
                    <div class="container">
                        <!-- Block @s -->
                        <div class="nk-block boxed boxed-xl bg-white round-lg">
                            <div class="row">
                                <!-- Section Head @s -->
                                <div class="section-head text-center wide-sm animated" data-animate="fadeInUp" data-delay=".1">
                                    <h2 class="title">All Digital Assets in One App</h2>
                                    <p class="lead lead-regular lead-s2">You can buy, hold and exchange Bitcoin and other cryptocurrencies at the best possible exchange rate</p>
                                </div>
                                <!-- Section Head @s -->
                            </div>
                            <div class="row gutter-vr-30px justify-content-between">
                                <div class="col-lg-5">
                                    <div class="feature feature-inline feature-s11 animated" data-animate="fadeInUp" data-delay=".2">
                                        <div class="feature-icon feature-icon-s6-bg">
                                            <em class="icon ikon ikon-cloud-org"></em>
                                        </div>
                                        <div class="feature-text">
                                            <h5 class="title title-md">Cloud Wallet</h5>
                                            <ul class="list list-check ms-0">
                                                <li>Designed for user convenience and worry-free investing</li>
                                                <li>Generate stable returns on your crypto assets</li>
                                                <li>Free, instant transfers between ICO Crypto Wallet users</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="feature feature-inline feature-s11 animated" data-animate="fadeInUp" data-delay=".3">
                                        <div class="feature-icon feature-icon-s6-bg">
                                            <em class="icon ikon ikon-wallet-2"></em>
                                        </div>
                                        <div class="feature-text">
                                            <h5 class="title title-md">HD Wallet</h5>
                                            <ul class="list list-check ms-0">
                                                <li>Take full control of your assets and private keys for maximum safety</li>
                                                <li>Easily import your mnemonic seeds from other wallets you may own</li>
                                                <li>EOS voting</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .block @s -->
                    </div>
                    <div class="nk-ovm ovm-top ovm-h-50 bg-light"></div>
                </section>
                <section class="section section-t-m bg-transparent tc-light ov-h">
                    <div class="container">
                        <!-- Block @s -->
                        <div class="nk-block nk-block-text-grp mgb-m30">
                            <div class="row justify-content-center justify-content-lg-between">
                                <div class="col-lg-4 col-mb-9">
                                    <div class="feature feature-inline feature-s5 animated" data-animate="fadeInUp" data-delay=".4">
                                        <div class="feature-icon feature-icon-sm feature-icon-s6">
                                            <em class="icon ikon ikon-shield-5"></em>
                                        </div>
                                        <div class="feature-text">
                                            <h4 class="title title-md">Tearing down the barriers of securitization</h4>
                                            <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-mb-9">
                                    <div class="feature feature-inline feature-s5 animated" data-animate="fadeInUp" data-delay=".5">
                                        <div class="feature-icon feature-icon-sm feature-icon-s6">
                                            <em class="icon ikon ikon-wallet-org"></em>
                                        </div>
                                        <div class="feature-text">
                                            <h4 class="title title-md">Fast, inexpensive and secure value transfer</h4>
                                            <p>Store, transfer, exchange instantly via mobile and desktop.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-mb-9">
                                    <div class="feature feature-inline feature-s5 animated" data-animate="fadeInUp" data-delay=".6">
                                        <div class="feature-icon feature-icon-sm feature-icon-s6">
                                            <em class="icon ikon ikon-cash-2"></em>
                                        </div>
                                        <div class="feature-text">
                                            <h4 class="title title-md">Crowdfunding + smart contacts</h4>
                                            <p>All the smart contact are lorem Ipsum is simply dummy.</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .row -->
                        </div><!-- .block @e -->
                    </div>
                </section>
            </section>
            <!-- // -->
            <section class="section bg-white">
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-text-wrap">
                        <div class="row align-items-center gutter-vr-30px justify-content-center justify-content-lg-between">
                            <div class="col-lg-5 order-lg-last">
                                <div class="gfx gfx-auto gfx-md animated" data-animate="fadeInUp" data-delay=".1">
                                    <img src="{{ .Site.BaseURL }}images/gfx/gfx-z-d.png" alt="app">
                                </div>
                            </div>
                            <div class="col-lg-5 col-mb-9">
                                <div class="nk-block-text">
                                    <div class="pb-5 animated" data-animate="fadeInUp" data-delay=".2">
                                        <h2 class="title">Simple and Easy</h2>
                                        <p class="lead lead-regular lead-s2">Manage your crypto assets with comfort and easy.</p>
                                    </div>
                                    <ul class="list list-number-s2">
                                        <li class="animated" data-animate="fadeInUp" data-delay=".3">
                                            <span>1</span>
                                            <h4 class="title title-md text-base">A clean and friendly user interface</h4>
                                            <p>Our welcoming UI helps prevent mismanagement and offers a seamless user experience.</p>
                                        </li>
                                        <li class="animated" data-animate="fadeInUp" data-delay=".4">
                                            <span>2</span>
                                            <h4 class="title title-md text-base">Begin Immediately</h4>
                                            <p>Creating a wallet takes less than a minute. Your time is valuable, Ginco understands that.</p>
                                        </li>
                                        <li class="animated" data-animate="fadeInUp" data-delay=".5">
                                            <span>3</span>
                                            <h4 class="title title-md text-base">Unparalleled Low Fees</h4>
                                            <p>Ginco does away with expensive fees, allowing you to send and trade guilt-free.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
            <section class="section bg-light">
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-text-wrap">
                        <div class="row align-items-center gutter-vr-30px justify-content-center justify-content-lg-between">
                            <div class="col-lg-5">
                                <div class="gfx gfx-auto gfx-md animated" data-animate="fadeInUp" data-delay=".1">
                                    <img src="{{ .Site.BaseURL }}images/gfx/gfx-z-e.png" alt="app">
                                </div>
                            </div>
                            <div class="col-lg-6 col-mb-9">
                                <div class="nk-block-text">
                                    <div class="pb-5 animated" data-animate="fadeInUp" data-delay=".2">
                                        <h2 class="title">High level of security</h2>
                                        <p class="lead lead-regular lead-s2">You can Exchange & Transfer money securely.</p>
                                    </div>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".2">At ICO Crypto Wallet we apply extreme security measures to Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".3">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset.</p>
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
            <section class="section bg-white">
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-text-wrap">
                        <div class="row align-items-center gutter-vr-30px justify-content-center justify-content-lg-between">
                            <div class="col-lg-5 order-lg-last">
                                <div class="gfx gfx-auto gfx-md animated" data-animate="fadeInUp" data-delay=".1">
                                    <img src="{{ .Site.BaseURL }}images/gfx/gfx-z-f.png" alt="app">
                                </div>
                            </div>
                            <div class="col-lg-6 col-mb-9">
                                <div class="nk-block-text">
                                    <div class="pb-5 animated" data-animate="fadeInUp" data-delay=".2">
                                        <h2 class="title">Multi-Chain <br>Wallets Management</h2>
                                        <p class="lead lead-regular lead-s2">Manage all wallets with this app.</p>
                                    </div>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".3">Create Bitcoin and Ethereum and other wallets for all your tokens. Safely back them all up, in one click.</p>
                                    <p class="animated" data-animate="fadeInUp" data-delay=".4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
            <section class="section bg-light">
                <div class="container">
                    <div class="section-head text-center animated" data-animate="fadeInUp" data-delay=".1">
                        <h2 class="title">What Our Customers Say</h2>
                        <p class="lead lead-regular lead-s2">See what our customer say about our wallet app</p>
                    </div>
                    <div class="nk-block nk-block-testimonial">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="testimonial-carousel has-carousel owl-carousel animated" data-animate="fadeInUp" data-delay=".2" data-items="1" data-navs="true" data-loop="true">
                                    <div class="testimonial card">
                                        <div class="tesm-image">
                                            <img src="{{ .Site.BaseURL }}images/tesm/tesm-one.jpg" alt="">
                                        </div>
                                        <div class="tesm-content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <h4 class="title title-sm">Jenny Upon <span>Ceo, Jaxy OX</span></h4>
                                        </div>
                                    </div>
                                    <div class="testimonial card">
                                        <div class="tesm-image">
                                            <img src="{{ .Site.BaseURL }}images/tesm/tesm-two.jpg" alt="">
                                        </div>
                                        <div class="tesm-content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <h4 class="title title-sm">Jenny Upon <span>Ceo, Jaxy OX</span></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // -->
            <section class="section section-b-m bg-light pdt-0">
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block block-partners">
                        <h6 class="title title-xs title-light text-center animated" data-animate="fadeInUp" data-delay=".1">Our Partners</h6>
                        <ul class="partner-list flex-lg-nowrap justify-content-lg-between">
                            <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".2"><img src="{{ .Site.BaseURL }}images/partners/a.png" alt="partner"></li>
                            <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".3"><img src="{{ .Site.BaseURL }}images/partners/b.png" alt="partner"></li>
                            <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".4"><img src="{{ .Site.BaseURL }}images/partners/c.png" alt="partner"></li>
                            <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".5"><img src="{{ .Site.BaseURL }}images/partners/d.png" alt="partner"></li>
                            <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".6"><img src="{{ .Site.BaseURL }}images/partners/e.png" alt="partner"></li>
                            <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".7"><img src="{{ .Site.BaseURL }}images/partners/f.png" alt="partner"></li>
                            <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".8"><img src="{{ .Site.BaseURL }}images/partners/g.png" alt="partner"></li>
                        </ul>
                    </div>
                    <!-- Block @e -->
                </div>
            </section>
        </main>
        <!-- Footer -->
        <footer class="nk-footer bg-theme-grad ov-h">
            <section class="section bg-transparent no-pdy">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="nk-block boxed boxed-xl bg-white round-lg">
                                <div class="row align-items-center gutter-vr-30px justify-content-between">
                                    <div class="col-md-6 col-mb-8 order-last order-md-first m-auto">
                                        <div class="nk-block-img text-center animated" data-animate="fadeInUp" data-delay=".1">
                                            <img src="{{ .Site.BaseURL }}images/app-screens/sc-large-p2.png" alt="app">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="nk-block-text pb-md-5 text-md-start text-center">
                                            <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">It’s Never too Late <br class="d-none d-lg-block">to get Started</h2>
                                            <p class="lead lead-regular lead-s2 animated" data-animate="fadeInUp" data-delay=".3">Buy, store and exchange BTC, BCH, ETH, EOS and many more in one wallet.</p>
                                            <a class="btn btn-grad animated" data-animate="fadeInUp" data-delay=".4" href="#">Download Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-ovm ovm-top ovm-h-50 bg-light"></div>
            </section>
            <section class="section section-m section-footer tc-light bg-transparent">
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block block-footer">
                        <div class="row gutter-vr-30px">
                            <div class="col-lg-3">
                                <div class="wgs wgs-text mb-0 animated" data-animate="fadeInUp" data-delay=".1">
                                    <div class="wgs-body">
                                        <a href="./" class="wgs-logo">
                                            <img src="{{ .Site.BaseURL }}images/logo-full-white.png" srcset="{{ .Site.BaseURL }}images/logo-full-white2x.png 2x" alt="logo">
                                        </a>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-2 col-sm-6 col-md-3">
                                <div class="wgs wgs-menu mb-0 animated" data-animate="fadeInUp" data-delay=".2">
                                    <h6 class="wgs-title">Company</h6>
                                    <div class="wgs-body">
                                        <ul class="wgs-links">
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Meet Our Team</a></li>
                                            <li><a href="#">Our Advisors</a></li>
                                            <li><a href="#">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-2 col-sm-6 col-md-3">
                                <div class="wgs wgs-menu mb-0 animated" data-animate="fadeInUp" data-delay=".3">
                                    <h6 class="wgs-title">Legal</h6>
                                    <div class="wgs-body">
                                        <ul class="wgs-links">
                                            <li><a href="#">Terms &amp; Conditions</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                            <li><a href="#">Terms of Sales</a></li>
                                            <li><a href="#">Whitepaper</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-2 col-sm-6 col-md-3">
                                <div class="wgs wgs-menu mb-0 animated" data-animate="fadeInUp" data-delay=".4">
                                    <h6 class="wgs-title">Wallet</h6>
                                    <div class="wgs-body">
                                        <ul class="wgs-links">
                                            <li><a href="#">Login</a></li>
                                            <li><a href="#">Register</a></li>
                                            <li><a href="#">Download</a></li>
                                            <li><a href="#">Referral Program</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-2 col-sm-6 col-md-3">
                                <div class="wgs wgs-menu mb-0 animated" data-animate="fadeInUp" data-delay=".5">
                                    <h6 class="wgs-title">QUICK LINKS</h6>
                                    <div class="wgs-body">
                                        <ul class="wgs-links">
                                            <li><a href="#">Tokens Sales</a></li>
                                            <li><a href="#">Roadmap</a></li>
                                            <li><a href="#">What is ICOX</a></li>
                                            <li><a href="#">why / How ?</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
            <section class="tc-light">
                <div class="container">
                    <hr class="hr-white-10 my-0">
                    <div class="nk-block py-5">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-7">
                                <div class="copyright-text copyright-text-s4 animated" data-animate="fadeInUp" data-delay=".6">
                                    <p>&copy; Copyright 2022, ICO Crypto. All Rights Reserved.</p>
                                </div>
                            </div>
                            <div class="col-md-5 text-md-end">
                                <div class="copyright-text copyright-text-s4 animated" data-animate="fadeInUp" data-delay=".7">
                                    <p>Template by Softnio. Handcrafted by iO.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="nk-ovm shape-z2 shape-contain shape-center-bottom"></div>
        </footer>
    </div>
    <!-- Preloader -->
    <div class="preloader"><span class="spinner spinner-round"></span></div>
    <!-- JavaScript -->
    <script src="{{ .Site.BaseURL }}js/jquery.bundle.js?ver=200"></script>
    <script src="{{ .Site.BaseURL }}js/scripts.js?ver=200"></script>
    <script src="{{ .Site.BaseURL }}js/charts.js?ver=200"></script>
    <script src="{{ .Site.BaseURL }}js/charts.js?ver=200"></script>
</body>

</html>