<!DOCTYPE html>
<html lang="it" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="images/favicon.png">
    <!-- Site Title  -->
    <title>{{$.Title}}</title>
    <!-- Bundle and Base CSS -->
    <link rel="stylesheet" href="css/vendor.bundle.css?ver=200">
    <link rel="stylesheet" href="css/style.css?ver=200">
    <!-- Extra CSS -->
    <link rel="stylesheet" href="css/theme.css?ver=200">
</head>

<body class="nk-body body-wider theme-dark">
    <div class="nk-wrap">
        <main class="nk-pages nk-pages-centered tc-light">
            <!--<header class="text-center py-5">
                <a href="https://www.covenant.srl" class="logo-lg d-inline-block">
                    <img id="logo" src="images/logo-1.png" srcset="images/logo-1.png" alt="logo">
                </a>
            </header>t-->
            <div class="my-auto">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7 col-sm-9">
                             <div class="text-center">
                                <div class="countdown-s2 countdown-xl countdown-thin countdown mb-5" data-date="2022/06/11" data-min-text="Minutes" data-sec-text="Seconds"></div>
                                <h2 class="title title-xl-s2 title-thin">We are launching soon.</h2>
                                <p> The New Web3 Software & Privacy Company <br>you've never heard of.</p>
                                <a href="https://www.covenant.srl" class="btn btn-grad btn-md btn-round">Back to covenant.srl</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <footer class="text-center py-5">
                <p class="copyright-text copyright-text-s3">Copyright &copy; 2022 Covenant Srls. P.IVA 14635081004. Via Flavia, 47 - 00187 Roma. Tutti i diritti riservati.</p>
            </footer>
            <div class="bg-image">
                <img src="images/shape-z5.png" alt="particle">
            </div>
        </main>
    </div>
    <!-- Preloader -->
    <div class="preloader"><span class="spinner spinner-round"></span></div>
    <!-- JavaScript -->
    <script src="js/jquery.bundle.js?ver=200"></script>
    <script src="js/scripts.js?ver=200"></script>
    <script src="js/charts.js?ver=200"></script>
    <script src="js/charts.js?ver=200"></script>
</body>

</html>